# -*- coding: utf-8 -*-

# a simple conffile for toxicbuild master.
# This is a python file!
# Change it to your needs.

DATABASE = {'host': 'localhost',
            'port': 27017,
            'db': 'toxicmaster'}

ENABLE_HOLE = True
# From which addesses we should accept connections.
# If 0.0.0.0, accepts connections from everyone.
HOLE_ADDR = '127.0.0.1'
# Port to the hole server listen
HOLE_PORT = 6666
# Auth settings.
ACCESS_TOKEN = '{{ACCESS_TOKEN}}'

# Should we validade the certificate? If your certificate is self signed
# this should be False
SMTP_VALIDATE_CERTS = True
SMTP_STARTTLS = False

RABBITMQ_CONNECTION = {'host': 'localhost', 'port': 5672}

SOURCE_CODE_DIR = './src'