# -*- coding: utf-8 -*-

# a simple conffile for toxicbuild master.
# This is a python file!
# Change it to your needs.

DATABASE = {'host': 'localhost',
            'port': 27017,
            'db': 'toxicmaster'}

ENABLE_HOLE = True
HOLE_ADDR = '127.0.0.1'
HOLE_PORT = 6666
