
  <!-- loading spinner -->
  <div class="wait-toxic-spinner wait-toxic-spinner-lg col-sm-2 mx-auto">
    <span class="spinner icon-spinner-2"></span>
    <span class="icon-toxicmask"></span>
  </div>
  <!-- end loading spinner -->


<!-- main build detaile container -->
<div class="details-main-container box-shadow-gray">
  <div class="close-btn">&times;</div>

  <!-- navigation pills -->
  <div class="nav-container">
    <ul class="nav nav-pills">
      <li class="nav-item">
	<a class="nav-link active box-shadow" href="#">
	  General configurations
	</a>
      </li>
  </div>

  <!-- end navigation pills -->

  <div class="build-details-container"></div>

</div>


<!-- template -->
<div class="template">

  <div id="build-details">
    <div class="repo-name-container col-sm-10">
      <span class="repo-name"></span> - <span class="build-label">Build</span>
      <b>#<span class="build-number"></span></b>
      <span class="build-status badge" data-toggle="tooltip">
      </span>
    </div>
    <div class="inner-container-left col-sm-6">
      <div class="build-builder-row">
	<span>{% raw translate('Builder') %}:</span> <b><span class="builder-name"></span></b>
      </div>
      <span class="far fa-calendar-check" data-toggle="tooltip"
	    title="{{translate('started at')}}"></span>
      <span class="build-started" data-toggle="tooltip"
	    title="{{translate('started at')}}"></span><br/>

      <span class="far fa-clock" data-toggle="tooltip"
	    title="{{translate('duration')}}"></span>
      <span class="build-total-time" data-toggle="tooltip"
	    title="{{translate('duration')}}"></span><br/>
    </div>
    <div class="inner-container-right col-sm-5">
      <div class="build-commit-row">
	<span>{{translate('Author')}}: </span><b><span class="commit-author"></span></b><br/>
	<span>{{translate('Title')}}: </span><b><span class="commit-title"></span></b><br/>
	<span>{% raw translate('Branch') %}: </span><b><span class="commit-branch"></b></span>
      </div>

    </div>

    <div class="col-sm-12 build-output-container">
      <span class="fas fa-arrow-circle-down follow-output"></span>
      <pre class="build-output">
      </pre>
    </div>


    <!-- buttons container -->
    <div class="obj-details-buttons-container buttons-container">

      <div class="cancel-btn-container inner-btn-container">
	<button class="btn btn-sm btn-dark btn-block" type="submit"
		id="btn-cancel-save">
	  <span id="cancel-save-slave-btn-text">{{translate('Close')}}</span>
	</button>
      </div>

    </div>
    <!-- end buttons container -->

  </div>

</div>
<!-- end template -->


<input type="hidden" value="{{build_uuid}}" id="build-uuid">

<script>
  async function init(){
    let build_uuid = jQuery('#build-uuid').val();
    let page;
    page = new BuildDetailsPage({router: router, build_uuid: build_uuid});
    await page.render();
  }

  window.onload = function(){init()};
</script>
