{% extends "base.html" %}
{% autoescape None %}

{% block main_area %}
  {{content}}
{% end %}

{% block js_bottom %}
<script>
  var TOXIC_API_URL = "{{api_url}}";
</script>

<script src="{{static_url}}jquery/jquery.min.js"></script>
<script src="{{static_url}}jquery/jquery.validate.min.js"></script>
<script src="{{static_url}}jquery/jquery.color-2.1.2.min.js"></script>
<script src="{{static_url}}bootstrap/js/popper.min.js"></script>
<script src="{{static_url}}bootstrap/js/bootstrap.min.js"></script>
<script src="{{static_url}}common/js/js.cookie.js"></script>
<script src="{{static_url}}common/js/pure.js"></script>
<script src="{{static_url}}backbone/underscore-min.js"></script>
<script src="{{static_url}}backbone/backbone-min.js"></script>
<script src="{{static_url}}toxicbuild/js/utils.js"></script>
<script src="{{static_url}}toxicbuild/js/base.js"></script>
<script src="{{static_url}}toxicbuild/js/repository.js"></script>
{% end %}
