{% extends "base.html" %}

{% block logout_link %}{% end %}

{% block main_area %}

{% if not token %}
  <div class="login-header-msg text-center mx-auto">
    <p>{{translate('Missing token')}}</p>
  </div>

{% else %}
<div class="container login-container">
  <div class="login-header-msg text-center mx-auto">
    <p>{{translate('Change password')}}</p>
  </div>

  <div id="change-password-input-container"
       class="box-white col-sm-3 mx-auto box-shadow">

    <input type="hidden" value="{{token}}" id="token">

    <form class="form-signin" id="form-change-password">

      <input type="password" id="inputPassword" name="password"
	     class="form-control login-form-control"
	     placeholder="{{translate('new password')}}"
	     required>

      <input type="password" id="inputPasswordConfirm" name="password-confirm"
	     class="form-control login-form-control"
	     placeholder="{{translate('confirm new password')}}"
	     required>
    </form>
    <button class="btn btn-md btn-primary btn-block btn-dark" type="submit"
	    id="btn-change-password">
      <span class="spinner icon-spinner-2" id="change-password-btn-spinner"
	    style="display:none">
      </span>
      <span id="change-password-btn-text">{{translate('Change password')}}</span>
    </button>

  </div>

  <div id="password-changed-message"
       class="box-white col-sm-3 mx-auto box-shadow">
    <h6>
      {% raw translate('Password changed. Go to the <a href="/login">login page</a>') %}
    </h6>
  </div>


</div>
{% end %}
{% end %}

{% block js_bottom %}
<script src="{{static_url}}jquery/jquery.min.js"></script>
<script src="{{static_url}}jquery/jquery.validate.min.js"></script>
<script src="{{static_url}}common/js/js.cookie.js"></script>
<script src="{{static_url}}toxicbuild/js/utils.js"></script>
<script src="{{static_url}}common/js/i18n.min.js"></script>
<script src="{{static_url}}toxicbuild/js/login.js"></script>
{% end %}
