
  <!-- loading spinner -->
  <div class="wait-toxic-spinner wait-toxic-spinner-lg col-sm-2 mx-auto">
    <span class="spinner icon-spinner-2"></span>
    <span class="icon-toxicmask"></span>
  </div>
  <!-- end loading spinner -->


<!-- main step details container -->
<div class="details-main-container box-shadow-gray">
  <div class="close-btn">&times;</div>


  <div class="step-details-container"></div>

</div>


<!-- template -->
<div class="template">

  <div id="step-details">
    <div class="command-container col-sm-10">
      <span class="step-command"></span>
      <span class="step-status badge" data-toggle="tooltip">
      </span>
    </div>
    <div class="inner-container-left col-sm-6">
      <span class="far fa-calendar-check" data-toggle="tooltip"
	    title="{{translate('started at')}}"></span>
      <span class="step-started" data-toggle="tooltip"
	    title="{{translate('started at')}}"></span><br/>

      <span class="far fa-clock" data-toggle="tooltip"
	    title="{{translate('duration')}}"></span>
      <span class="step-total-time" data-toggle="tooltip"
	    title="{{translate('duration')}}"></span><br/>
    </div>

    <div class="col-sm-12 step-output-container">
      <span class="fas fa-arrow-circle-down follow-output"></span>
      <pre class="step-output">
      </pre>
    </div>

    <!-- buttons container -->
    <div class="obj-details-buttons-container buttons-container">

      <div class="cancel-btn-container inner-btn-container">
	<button class="btn btn-sm btn-dark btn-block" type="submit"
		id="btn-cancel-save">
	  <span id="cancel-save-slave-btn-text">{{translate('Close')}}</span>
	</button>
      </div>

    </div>
    <!-- end buttons container -->

  </div>

</div>
<!-- end template -->


<input type="hidden" value="{{step_uuid}}" id="step-uuid">

<script>
  async function init(){
    let step_uuid = jQuery('#step-uuid').val();
    let page;
    page = new BuildStepDetailsPage({router: router, step_uuid: step_uuid});
    await page.render();
  }

  window.onload = function(){init()};
</script>
