<div class="template">

  <table>

    <thead>
      <tr class="waterfall-tr">
	<th scope="col" class="builder-name-col builder-col">
	  <div class="builder-name box-shadow-black"></div>
	</th>
      </tr>
    </thead>

    <tbody>
      <tr>
	<div class="">
	  <th scope="col" class="waterfall-first-col waterfall-buildset-info-container">
	    <strong><span class="commit-title"></span></strong><br/>
	    <span class="buildset-commit"></span><br/>
	    <span class="buildset-branch"></span>
	  </th>
	</div>

	<div>
	  <td scope="row">
	    <ul class="build-info-list waterfall-build-info-container box-white box-shadow">
	      <!-- the build row info-->
	      <li class="build-info-row box-shadow">
		Build - <span class="build-info-status"></span>
	      </li>
	    </ul>
	  </td>

	  <!-- the step row info-->
	  <li class="build-info-row waterfall-step-info box-shadow">
	    <span class="step-name"></span> - <span class="step-status"></span>
	  </li>
	</div>
      </tr>

    </tbody>

  </table>

</div>


<div class="wait-toxic-spinner wait-toxic-spinner-lg col-sm-2 mx-auto">
  <span class="spinner icon-spinner-2"></span>
  <span class="icon-toxicmask"></span>
</div>

<table id="waterfall-container">
  <thead>
    <tr id="waterfall-header">
      <th scope="col" class="waterfall-first-col">
	<span class="repo-full-name">{{ repo_name.split('/')[1] }}</span>
	<a href="{{ '/' + repo_name + '/settings' }}" class="no-decoration">
	  <span class="fas fa-wrench"></span>
	</a>
	<br/>
	<a href="{{ '/' + repo_name + '/' }}" title="Summary"
	   class="summary-link link-enabled no-decoration">
	  <span class="fas fa-list"></span>
	</a>

	<a href="{{ '/' + repo_name + '/waterfall' }}"
	   title="Warterfall" class="waterfall-link no-decoration">
	  <span class="fas fa-th"></span>
	</a>
      </th>
    </tr>
  </thead>

  <tbody id="waterfall-body">
  </tbody>
</table>

<input type="hidden" value="{{repo_name}}" id="repo_name">

<script>
  async function init(){
    let repo_name = $('#repo_name').val();
    let view = new WaterfallView(repo_name);
    await view.render();
  }
  window.onload = function(){init()};
</script>
