{% extends "base.html" %}

{% block main_area %}

<div class="page-header">
  <h4>Repositories</h4>

  <!-- Button trigger modal add repository -->
  <button type="button" class="btn btn-toxicbuild-default btn-xs" data-toggle="modal" data-target="#repoModal">
    Add new repo
  </button>
</div>

{% include "repository_modal.html" %}

{% include "start_build_modal.html" %}

<div class="row">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>URL</th>
      <th>Status</th>
    </thead>
    <tbody id="tbody-repos">
      {% for repo in repos %}
      <tr id="row-{{repo.name}}">
	<td>
	  <a href="javascript:showRepoModal('{{repo.name}}', '{{repo.url}}', '{{repo.vcs_type}}', {{repo.update_seconds}}, {{[s.name for s in repo.slaves]}})">
	    {{repo.name}}
	  </a>
	</td>
	<td>{{repo.url}}</td>
	<td>
	  <form action="/waterfall">
	    <input type="hidden" name="repo" value="{{repo.name}}">
	    <button type="submit" class="btn btn-xs btn-{{get_btn_class(repo.status)}} btn-status">{{repo.status}}
	    </button>
	  </form>
	</td>
	<td><button type="button"  class="btn btn-xs btn-toxicbuild-default btn-status start-build-btn"
		    data-toggle="modal" data-repo-name="{{repo.name}}"data-target="#startBuildModal">start build</button></td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>


<div class="page-header">
  <h4>Slaves</h4>
  <button type="button" class="btn btn-toxicbuild-default btn-xs" data-toggle="modal" data-target="#slaveModal">
    Add new slave
  </button>
</div>

{% include "slave_modal.html" %}

<div class="row">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Host</th>
      <th>Port</th>
    </thead>
    <tbody id="tbody-slaves">
      {% for slave in slaves %}
      <tr>
	<td>
	  <a href="javascript:showSlaveModal('{{slave.name}}', '{{slave.host}}', '{{slave.port}}')">
	    {{slave.name}}
	  </a>
	</td>
	<td>{{slave.host}}</td>
	<td>{{slave.port}}</td>
      </tr>
      {% end %}
    </tbody>
  </table>
</div>

{% end %}
