# -*- coding: utf-8 -*-

import os
import pkg_resources

# toxicui settings
HOLE_HOST = os.environ.get('HOLE_HOST', '127.0.0.1')
HOLE_PORT = int(os.environ.get('HOLE_PORT', 6666))

HOLE_TOKEN = os.environ.get('HOLE_TOKEN', '{{HOLE_TOKEN}}')

# pyrocumulus/tornado settings
TORNADO_PORT = int(os.environ.get('UI_WEB_PORT', 8888))
TORNADO_OPTS = {'cookie_secret': '{{COOKIE_SECRET}}'}
STATIC_URL = '/static/'
STATIC_DIRS = [pkg_resources.resource_filename('toxicbuild.ui', 'static')]
TEMPLATE_DIRS = [pkg_resources.resource_filename('toxicbuild.ui', 'templates')]

COMMAND_PACKAGES = []


APPLICATIONS = [
    'toxicbuild.ui.web.static_app',
    'toxicbuild.ui.web.api_app',
    'toxicbuild.ui.web.app'
]

CONTEXT_PROCESSORS = [
    'pyrocumulus.web.template.ContextProcessor',
    'toxicbuild.ui.context_processors.ToxicWebMainContextProcessor',
    'toxicbuild.ui.context_processors.ToxicWebTranslationProcessor']


API_URL = os.environ.get('WEB_API_URL', '/api/')

NOTIFICATIONS_API_TOKEN = '{{NOTIFICATIONS_API_TOKEN}}'
NOTIFICATIONS_API_URL = os.environ.get('NOTIFICATIONS_API_URL',
                                       'http://localhost:9432/')

# This is a user that ideally is a limited user only allowed to create new
# users. This is used for the registration feature on the web ui.
ROOT_USER_ID = '{{ROOT_USER_ID}}'
