# -*- coding: utf-8 -*-

import pkg_resources

# toxicui settings
HOLE_HOST = '127.0.0.1'
HOLE_PORT = 6666

HOLE_TOKEN = '{{HOLE_TOKEN}}'

# pyrocumulus/tornado settings
TORNADO_PORT = 8888
TORNADO_OPTS = {'cookie_secret': '{{COOKIE_SECRET}}',
	        'xsrf_cookies': True}
STATIC_URL = '/static/'
STATIC_DIRS = [pkg_resources.resource_filename('toxicbuild.ui', 'static')]
TEMPLATE_DIRS = [pkg_resources.resource_filename('toxicbuild.ui', 'templates')]
COMMAND_PACKAGES = []

APPLICATIONS = ['toxicbuild.ui.web.static_app',
                'toxicbuild.ui.web.api_app',
                'toxicbuild.ui.web.app', ]

API_URL = 'http://localhost:8888/api/'

CONTEXT_PROCESSORS = [
    'pyrocumulus.web.template.ContextProcessor',
    'toxicbuild.ui.context_processors.ToxicWebMainContextProcessor']

NOTIFICATIONS_API_URL = 'http://localhost:9234/'
NOTIFICATIONS_API_TOKEN = '{{NOTIFICATIONS_API_TOKEN}}'
