{% extends "base.html" %}

{% block main_area %}
{% include "step_details_modal.html" %}
<table>
  <tbody>
    <tr>
      {% for builder in builders %}
      <td class="builder-column">
	<ul><li class="builder builder-{{builder.status}}">
	    {{builder.name}}
	</li></ul>
	{% for build in builder.builds %}
	<ul>
	  <li class="step step-{{build.status}}">
	    Build {{build.number}} - {{build.status}}
	  </li>
	  {% for step in build.steps %}
	  <li class="step step-{{step.status}}">
	    {{step.name}} - {{step.status}}
	    <button type="button" class="btn btn-step-details btn-sm"
		    data-toggle="modal"
		    data-target="#stepDetailsModal"
		    data-dismiss="modal"
		    data-step-command="{{step.command}}"
		    data-step-output="{{step.output}}"
		    data-step-status="{{step.status}}"
		    data-step-start="{{step.started}}"
		    data-step-end="{{step.finished}}">
	      details
	    </button>

	  </li>
	  {% end %}
	</ul>
	{% end %}
      </td>
      {% end %}
    </tr>
  </tbody>
</table>
{% end %}
