# -*- coding: utf-8 -*-

import os

host = os.environ.get('DBHOST', 'localhost')
port = int(os.environ.get('DBPORT', 27017))
dbname = os.environ.get('DBNAME', 'toxicbuild-secrets')
dbuser = os.environ.get('DBUSER')
dbpass = os.environ.get('DBPASSWORD')


DATABASE = {'host': host,
            'port': port,
            'db': dbname}

ADDR = '0.0.0.0'
PORT = os.environ.get('SECRETS_PORT', 9745)

ACCESS_TOKEN = os.environ.get('SECRETS_ENCRYPTED_TOKEN', '{{ACCESS_TOKEN}}')
CRYPTO_KEY = {{CRYPTO_KEY}}

USE_SSL = os.environ.get('SECRETS_USE_SSL', '0') == '1'
CERTFILE = os.environ.get('SECRETS_CERTFILE')
KEYFILE = os.environ.get('SECRETS_KEYFILE')
