# -*- coding: utf-8 -*-

import os

host = os.environ.get('DBHOST', 'localhost')
port = int(os.environ.get('DBPORT', 27017))
dbname = os.environ.get('DBNAME', 'toxicbuild')
dbuser = os.environ.get('DBUSER')
dbpass = os.environ.get('DBPASSWORD')


DATABASE = {'host': host,
            'port': port,
            'db': dbname}

if dbuser:
    DATABASE['username'] = dbuser

if dbpass:
    DATABASE['password'] = dbpass


amqp_host = os.environ.get('AMQPHOST', 'localhost')
amqp_port = int(os.environ.get('AMQPPORT', 5672))
amqp_login = os.environ.get('AMQPLOGIN')
amqp_virtualhost = os.environ.get('AMQPVIRTUALHOST')
amqp_password = os.environ.get('AMQPPASSWORD')

RABBITMQ_CONNECTION = {'host': amqp_host, 'port': amqp_port}

if amqp_login:
    RABBITMQ_CONNECTION['login'] = amqp_login

if amqp_virtualhost:
    RABBITMQ_CONNECTION['virtualhost'] = amqp_virtualhost

if amqp_password:
    RABBITMQ_CONNECTION['password'] = amqp_password


NOTIFICATIONS_API_URL = os.environ.get('NOTIFICATIONS_API_URL',
                                       'http://localhost:9432')

NOTIFICATIONS_API_TOKEN = os.environ.get(
    'NOTIFICATION_API_TOKEN', '{{NOTIFICATIONS_API_TOKEN}}'
)


TORNADO_PORT = int(os.environ.get('INTEGRATIONS_WEB_PORT', 9999))
APPLICATIONS = ['toxicbuild.integrations.webhook_receivers.app']

# This cookie secret must be the same used in toxicui.
TORNADO_OPTS = {
    'cookie_secret': os.environ.get('COOKIE_SECRET', '{{COOKIE_SECRET}}')
}

GITHUB_API_URL = os.environ.get('GITHUB_API_URL', 'https://api.github.com/')
GITHUB_PRIVATE_KEY = os.environ.get('GITHUB_PRIVATE_KEY')
GITHUB_APP_ID = os.environ.get('GITHUB_APP_ID')
GITHUB_WEBHOOK_TOKEN = os.environ.get('GITHUB_WEBHOOK_TOKEN')

INTEGRATIONS_HTTP_URL = os.environ.get(
    'INTEGRATIONS_HTTP_URL', 'http://localhost:9999/')

GITLAB_URL = os.environ.get('GITLAB_URL', 'https://gitlab.com/')
GITLAB_API_URL = '{}api/v4/'.format(GITLAB_URL)
GITLAB_APP_ID = os.environ.get('GITLAB_APP_ID')
GITLAB_APP_SECRET = os.environ.get('GITLAB_APP_SECRET')
GITLAB_WEBHOOK_TOKEN = os.environ.get('GITLAB_WEBHOOK_TOKEN')

BITBUCKET_URL = os.environ.get('BITBUCKET_URL', 'https://bitbucket.org/')
BITBUCKET_API_URL = os.environ.get('BITBUCKET_API_URL',
                                   'https://api.bitbucket.org/2.0/')
BITBUCKET_APP_ID = os.environ.get('BITBUCKET_APP_ID')
BITBUCKET_APP_SECRET = os.environ.get('BITBUCKET_APP_SECRET')
BITBUCKET_WEBHOOK_TOKEN = os.environ.get('BITBUCKET_WEBHOOK_TOKEN')

TOXICUI_COOKIE = 'toxicui'
TOXICUI_URL = os.environ.get('TOXICUI_URL', 'http://localhost:8888/')
TOXICUI_LOGIN_URL = '{}login/'.format(TOXICUI_URL)

PARALLEL_IMPORTS = int(os.environ.get('PARALLEL_IMPORTS', 1))

HOLE_HOST = os.environ.get('HOLE_HOST', '127.0.0.1')
HOLE_PORT = int(os.environ.get('HOLE_PORT', 6666))
HOLE_TOKEN = os.environ.get('HOLE_TOKEN', '{{HOLE_TOKEN}}')
ROOT_USER_ID = os.environ.get('WEB_ROOT_USER_ID', '{{ROOT_USER_ID}}')
MASTER_USES_SSL = os.environ.get('MASTER_USES_SSL', '0') == '1'
VALIDATE_CERT_MASTER = os.environ.get('VALIDATE_CERT_MASTER', '0') == '1'

INTEGRATIONS_ADJUST_TIME = int(os.environ.get('INTEGRATIONS_ADJUST_TIME', '0'))