# -*- coding: utf-8 -*-

TORNADO_PORT = 9999
APPLICATIONS = ['toxicbuild.integrations.webhook_receivers.app']
ORNADO_OPTS = {'cookie_secret': '$2b$08$p7/UZSmiqGqU71LjMr/Y8u'}
DATABASE = {'host': 'localhost',
            'port': 27017,
            'db': 'toxicmaster'}

RABBITMQ_CONNECTION = {'host': 'localhost', 'port': 5672}
BCRYPT_SALT = '$2b$04$uPkH68HUDSFl5SFiAonXq.MOhW/0QGyCnRedEXi5IcqyrTvvvexUK'
GITHUB_PRIVATE_KEY = 'some/path/to.pk'
GITHUB_ISSUE_NUMBER = 'somenumber'
TOXICUI_COOKIE = 'toxicui'
TOXICUI_LOGIN_URL = ''
TOXICUI_URL = ''
