/* common */
:root{
    --red-light: rgb(226, 112, 123);
    --exception: #9a009c;
}
body{
    background-color: #f9f9f9;
}

::-webkit-input-placeholder {
   font-size: 0.9em!important;
}

:-moz-placeholder { /* Firefox 18- */
      font-size: 0.9em!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 0.9em!important;
}

.navbar{
    margin-bottom: 15px;
}
.navbar-brand img{
    width:200px;
    margin-top: 1px;
}


.no-decoration,
.no-decoration:hover{
    text-decoration: none;
}

.toxiclogo-container,
.logout-link-container{
    float:left;
}

.close-btn{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6em;
    margin-right: 10px;
    cursor: pointer;
}

.toxiclogo-container{
    width: 235px;
    margin-left: 0;
}

.logout-link-container{
    margin-right: 15px;
    width: 5%;
    margin-top: 12px;
}

.modal-content{
    background-color: #f9f9f9;
    font-size: 0.9em;
}

.modal-header,
.modal-footer{
    border: none;
}

.row-container{
    overflow: auto;
}

.modal-footer{
    padding-top: 0;
}

.form-control:focus {
    border-color: #707375;
    box-shadow: 0 0 0 0.2rem rgba(109, 112, 115, 0.25);
}

.form-control-error,
.form-control-error:focus{
    border-color: #d2778a57;
    box-shadow: 0px 0px 0.2em 0px rgba(191, 5, 39, 0.9);
}

.alert{
    position: fixed;
    /* right: 15px; */
    /* margin-right: 50%; */
    margin-left: 34%;
    margin-top: -35px;
    z-index: 1000;
    opacity: 0.98;
    display: none;
    /* overflow: auto; */
}

.alert .fas{
    font-size: 1.3em;
}

.alert-dismissible button.close-msg{
    padding: 0;
    padding-right: 5px;
    padding-top: 2px;

}
.error{
    color: var(--red-light);
}

.btn-dark{
    background-image: linear-gradient(-180deg, #757272 0%, #343a40 90%);
}

.btn-red{
    background-image: linear-gradient(-180deg, #f37676 0%, #d23131 90%);
    /* color: white; */
}

.btn-light{
    background-image: linear-gradient(-180deg, #f1f1f1 0%, #d1d2d2 90%);
    border-color: #c4c2c2;
}

.toxic-main-area{
    background-color: #f9f9f9;
}

#main-area-container{
    position: relative;
}

.box-shadow{
    box-shadow: 0em 0rem 0.5rem 0.1rem hsla(0, 0%, 0%, 0.15);
}

.box-shadow-light{
    box-shadow: 0em 0rem 0.3rem 0.1rem hsla(0, 0%, 0%, 0.09);
}

.box-shadow-black{
    box-shadow: 0px 0px 5px 1px #000;
}

.box-shadow-gray{
    box-shadow: 0px 0px 5px 0px #b7b4b4;
}

.box-shadow-gray-inset{
    box-shadow: inset 0px 0px 5px 0px #b7b4b4;
}

.box-white{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}

.badge-exception{
    background-color: var(--exception);
    color: #fff;
}

.message-container{
    padding-left: 35px;
    margin-top: -26px;
}

.template{
    display: none;
}

.toggle.btn{
    min-width: 0px;
    min-height: 0px;
}

.toggle.btn label{
    line-height: 0px;
    padding-top: 8px;
}

.checkbox-rounded,
.checkbox-rounded .toggle-handle{
    border-radius: 20px;
    margin-right: 22px;
}

.checkbox-rounded.off .toggle-handle{
    margin-right: 0;
    margin-left: 22px;
}

.checkbox-rounded .toggle-handle{
    width: 20px;
    height: 100%;
    margin-top: -9px;
    padding: 0;
    font-size: 0.9em;
    padding-top: 2px;
    margin-left: 2px;
}

.abc-checkbox-black input[type="checkbox"]:checked + label::before,
.abc-checkbox-black input[type="radio"]:checked + label::before {
    background-color: #212529;
    border-color: #212529;
}

.abc-checkbox label::after{
    color: var(--white);
}

.toggle-on.btn,
.toggle-off.btn{
    font-size: 0.8em;
}
.toggle-group{
    min-height: 21px;
}

.checkbox-sm .toggle-off.btn,
.checkbox-sm .toggle-on.btn{
    /* padding-top: 9px; */
    /* padding-right: 25px; */
    border-radius: 20px;
}

.checkbox-sm{
    height: 21px;
}

.cursor-pointer{
    cursor: pointer;
}

/* wait-toxic-spinner */
.wait-toxic-spinner{
    color: #d4d3d3;
}

.wait-toxic-spinner-lg{
    min-height: 10em;
    margin-top: 50px;

}

.wait-toxic-spinner-lg .icon-toxicmask{
    font-size: 6em;
    margin-left: 45px;
    margin-top: 33px;
    position: absolute;
}

.wait-toxic-spinner-lg .spinner{
    position: absolute;
    margin: 0;
    font-size: 10em;
}

.navbar-nav .dropdown-menu{
    position: absolute;
    left: -116px;
    top: 44px;
}

.navbar-nav .fas{
    color: #ffffff;
}

.navbar-nav .fas:hover{
    color: #ccc;
}

.dropdown-arrow:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-arrow:after {
  position: absolute;
  top: -6px;
  right: 17px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-item{
    font-size: 0.9em;
    padding: .20rem 1.0rem;
}

.dropdown-item:active{
    /* background-image: linear-gradient(-180deg, #757272 0%, #343a40 90%); */
    background-color: #4c4e50;
}


/* login */
.login-container{
    padding-top:10px;
}

.login-container .form-control{
    margin-bottom: 10px;
}


.login-container p{
    font-size: 1.8em;
}

.forgot-password-container{
    padding-top:10px;
    font-size: 0.9em;
}

#new-to-toxicbuild-container{
    font-size: 0.9em;
}

#login-error-msg-container{
    color: var(--white);
    margin-bottom: 10px;
    font-weight: 500;
}

/* repositories list */
#welcome-message{
    font-weight: bold;
}

#no-repos-info{
    display: none;
}
#no-repos-info div{
    font-size: 1.5em;
    margin-bottom: 35px;
}

#no-repos-info .icon-toxicmask{
    font-size: 10.5em;
    color: #efebeb;
    margin-top: -30px;
    margin-bottom: -6px;
}

#no-repos-message{
    font-size: 1.0em;
}

#bollocks-message{
    font-size: 0.8em;
}

#slave-list-container ul,
#repo-list-container ul{
    list-style: none;
    padding-left: 0;
}

#slave-list-container .slave-info-name-container,
#repo-list-container .repository-info-name-container{
    margin-right: 10px;
}

#slave-list-container .slave-info-name-container a:hover,
#repo-list-container .repository-info-name-container a:hover{
    color: #212529;
}

.slave-info-container,
.repo-info-container{
    float: left;
}

.top-page-slaves-info-container,
.top-page-repositories-info-container{
    display: none;
}

#slave-list-container .slave-status-ready,
#repo-list-container .repo-status-ready{
    border-left: 5px solid var(--gray);
}

#repo-list-container .repo-status-running{
    border-left: 5px solid var(--blue);
}

#repo-list-container .repo-status-exception{
    border-left: 5px solid var(--exception);
}

.slave-info-row,
.repository-info-row{
    margin-bottom: 3px;
}

.slave-info-header,
.repository-info-header{
    float: right;
    margin-top: -15px;
    margin-right: -6px;
    color: #bdb8b8;
}

.slave-info-header:hover,
.repository-info-header:hover{
    color: #6d6c6c;
    cursor: pointer;
}

.slave-info-name,
.repository-info-name{
    color: #212529;
    font-size: 1.2em;
    font-weight: 500;
}

.slave-info-first-row,
.repository-info-first-row{
    margin-bottom: 20px;
}

.repository-info-commit-row{
    margin-bottom: 10px;
}

.slave-info-last-row,
.repository-info-last-row{
    margin-bottom: 0;
}

.buildset-started{
    margin-right: 10px;
}

#repo-list-container .repository-info-last-buildset,
#repo-list-container .no-builds-info{
    font-size: 0.9em;
    display: none;
}

.buildset-commit{
    padding-right: 15px;
}

.buildset-total-time,
.buildset-title{
    font-weight: 500;
}

.top-page-repositories-info-container .fa-wrench{
    transform: rotate(270deg);
    color: #adababcc;
}

.top-page-repositories-info-container .fa-wrench:hover{
    color: #212529;
    cursor: pointer;
}

.top-page-slaves-info-container,
.top-page-repositories-info-container{
    margin-bottom: 10px;
}

.top-page-repositories-info-container .fa-plus,
.top-page-repositories-info-container .fa-github{
    margin-left: 10px;
}

.top-page-slaves-info-container .fa-plus,
.top-page-repositories-info-container .fa-plus{
    color: var(--green);
}

.top-page-repositories-info-container .fa-github{
    color: #212529;
}

.repository-info-enabled-container{
    float: right;
    margin-right: -20px;
}

.enabled-indicator{
    margin-left: -22px;
}

.repo-enabled-times{
    color: var(--secondary);
}

.repo-enabled-check{
    color: var(--success);
}

.repo-enabled .toggle-handle:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: var(--success);
}

.repo-disabled .toggle-handle:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    color: var(--secondary);
}
.repo-disabled .toggle-handle,
.repo-enabled .toggle-handle{
    line-height: 1;
}

.slave-info-header .dropdown-toggle::after,
.repository-info-header .dropdown-toggle::after {
    content: none;
}


/* settings page */

.nav-container{
    display:none;
}

.nav-pills{
    margin-bottom: 10px;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link{
    color: #4e4e4f;
    background-color: #ede8e8;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #f3f3f4;
    background-color: #302e2e;
    border-color: #dee2e6 #dee2e6 #fff;
}

.settings-left-side{
    float:left;
    position: relative;
}

.settings-right-side{
    float:right;
    display: none;o
}

.settings-right-side{
    font-size: 0.9em;
}

.wait-change-enabled-spinner{
    display:none;
    margin-right: 55px;
}

/* repo details page */

.repo-details-main-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    margin: -10px;
    padding: 10px;
    min-height: 89vh;
}

#repo-details .repo-details-label,
#repo-details .repo-details-input{
    float: left;
    margin-left: 0px;
}

.repo-name-group div{
    margin-bottom: 10px;
}

.repo-details-buttons-container{
    float: right;
    margin-bottom: 25px;
}

.repo-details-buttons-container .inner-btn-container{
    float: left;
    margin-right: 10px;
}

#repo-details-container .repository-info-enabled-container{
    float: right;
    margin-top: 11px;
}

#available-text{
    font-size: 0.8em;
}

.repo-details-name-available .fa-check{
    color: var(--success);
}

.repo-details-name-available #available-text,
.repo-details-name-available .fa-times{
    color: var(--danger);
}

#repo-name-available{
    margin-top: 7px;
}

.wait-name-available-spinner{
    display:none;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.repo-details-row{
    min-height: 50px;
}

#repo-details-advanced-container{
    display: none;
    margin-top: 20px;
    padding-left: 15px;
}

#repo-details #branches-list-container,
#repo-details #slaves-list-container{
    margin-left: 46px;
    /* border: solid 0.5px #ccc; */
    border-radius: 3px;
    min-height: 44px;
}

.add-branch-btn,
#add-slave-btn{
    min-height: 45px;
    color: var(--success);
    cursor: pointer;
}

.advanced-large-item{
    margin-bottom: 36px !important;
}

.repo-slaves-ul,
.repo-branches-ul{
    padding:0
}

.no-item-placeholder,
.repo-slaves-li,
.repo-branches-li{
    list-style: none;
    padding: 3px;
    padding-left: 12px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 10px;
    margin-bottom: 0;
    /* font-size: 0.9em; */
}

.remove-item-btn{
    float: right;
    margin-top: 5px;
    font-size: 0.8em;
    padding-right: 10px;
    color: var(--danger);
    cursor: pointer;
}

.repo-config-advanced-container{
    padding-left: 0;
}

#basic-config-p{
    height: 70px;
}

#parallel-builds-config-p{
    margin-top: 15px;
    margin-bottom: 32px;
}

#branches-config-p{
    height: 90px;
}

#addBranchModal .form-check{
    margin-top: 15px;
}

.no-item-placeholder{
    font-size: 0.9em;
    display: none;
}

.parallel-builds-label{
    min-width: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.parallel-builds-container{
    padding-top: 10px;
    padding-bottom: 31px;
}


.advanced-help-container{
    display: none;
}

#btn-save-repo{
    width: 110px;
}

.repo-locations-link-container{
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.repo-locations-link-container a{
    color: #212529;
    margin-right: 6px;
}

.remove-branch-btn-spinner{
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}

.delete-btn-container{
    float: left;
    padding-top: 3px;
}
.delete-repo-label-container{
    padding-right: 15px;
    padding-left: 15px;
}

.repo-slaves-li .toggle{
    float: right;
    margin-top: 2px;
}

.repo-slaves-li .wait-change-enabled-spinner{
    float: right;
    margin-right: -15px;
}

/* repo add page */

.add-repo-message-container{
    display: none;
    margin-bottom: 25px;
}


/* register */

.register-spinner-container{
    min-height: 34px;
}

#register-available-ok{
    color: var(--green);
}

#register-error-msg,
#register-available-fail{
    color: var(--red);
}

/* slave stuff */

.slave-info-address{
    float: right;
}
