/* main */
.background-main,
body{
    background-color: #4c4a49;
    color: #D0D0D0;
}
a:hover,
a {
    color: #1A8FF5;
    text-decoration: none;
}


.table>thead>tr>th {
    border-bottom: 0;
}
.modal-content{
    background-color: #4c4a49;
}
.page-header{
    border: 0;
}
.toxicweb-container{
    margin-left: 0;
}

.alert{
    display:none;
    margin-top: 5%;
}

.img-logo{
    width: 190px;
    margin-top: -4%;
}


.master-msg{
    color: #fff;
    margin-top:9%;
}

.btn-status{
    width: 80px;
}

.btn-toxicbuild-default {
  color: #fff;
  background-color: #868B90;
  border-color: #7A7E83;
}


.btn-toxicbuild-default:hover {
  color: #fff;
  background-color: #575C61;
  border-color: #7A7E83;
}

#btn-delete-repo{
    display: none;
}

#btn-delete-slave{
    display: none;
}

/* waterfall */

.step{
    border-bottom: 1px solid #4c4a49;
}

.step a{
    color: #05335A;
}
.toxic-ul{
    list-style: none;
}

.builder-column{
    vertical-align: top;
}

.builder-fixed{
    position: fixed;
    width: 27.7%;
}
.builder-container{
    border-radius: 3px;
    min-height: 50px;
}

.builder{
    box-shadow: 0px 1px 5px 0px #000;
}

.builder,
.step{
    border-radius: 3px;
    list-style: none;
    padding: 10px
}

.builder-fail,
.step-fail{
    background-color: #d9534f;

}

.builder-success,
.step-success{
    background-color: #5cb85c;
}

.builder-pending,
.step-pending{
    background-color: #B7B206;
}

.builder-running,
.step-running{
    background-color: #31b0d5;
}

.builder-warning,
.step-warning{
    background-color: #D25728;
}


.btn-step-details:focus,
.btn-step-details{
    color: #B5A8A8;
    background-color: #1F1D1D;
    border-color: #191818;
    padding: 1px 6px;
    float: right;
    margin-left: 15px;
}

.btn-step-details:hover{
    color: #fff;
    background-color: #1F1D1D;
    border-color: #191818;
    padding: 1px 6px;
    float: right;
    margin-left: 15px;
}

.modal-dialog-step{
    width:90%;
}
