/* base */
.navbar{
    margin-bottom: 0;
}
.jumbotron{
    padding-top:0;
}

/* alert */
.alert{
    position: fixed;
    width: 97.2%;
    margin-top: -35px;
    z-index: 1000;
    opacity: 0.98;
    box-shadow: 0px 0px 5px 1px #000;
}

/* main */
.background-main,
body{
    background-color: #4c4a49;
    color: #D0D0D0;
}

.page-header{
    margin-top: 20px;
}

a:hover,
a {
    color: #1A8FF5;
    text-decoration: none;
}


.table>thead>tr>th {
    border-bottom: 0;
}

tr:nth-child(even) {
    background-color: #696565;
}

.main-row{
    margin-left: 0;
    margin-right: 0;
}

.main-section-title{
    float:left;
}

.modal-content{
    background-color: #4c4a49;
}

.form-group-vcs-type-update{
    min-height: 80px;
}

.form-group-vcs-type-update .left-container{
    float:left;
    width: 65%;
    margin-right: 5%;;
}

.form-group-vcs-type-update .right-container{
    width: 30%;
    float: left;
}

.add-branch-icon{
    color: #49b149;
    font-weight: bolder;
    cursor: pointer;
}

#branches-container{
    padding: 10px;
}

.branch-name-input{
    float: left;
    width: 69%;
    margin-right: 4%;
}

.remove-branch{
    color: #da4242;
    margin-left: 80%;
    cursor: pointer;
}

.form-group-slave-host-port .left-container{
    float:left;
    width: 65%;
    margin-right: 5%;;
}

.form-group-slave-host-port .right-container{
    width: 30%;
    float: left;
}

.page-header{
    border: 0;
}
.toxicweb-container{
    margin-left: 0;
}

.alert{
    display:none;
}

.img-logo{
    width: 190px;
    margin-top: -4%;
}


.master-msg{
    color: #fff;
    margin-top:9%;
}

.btn-main-edit:focus,
.btn-main-edit:hover,
.btn-main-edit:active,
.btn-main-edit:visited,
.btn-main-edit.active:focus,
.btn-main-edit:active:focus,
.btn-main-edit{
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.btn-main-edit:hover,
.btn-main-edit.active:focus,
.btn-main-edit:active:focus,
.btn-main-edit:active{
    color: #b5a5a5;
}

.btn-main-add:focus,
.btn-main-add:hover,
.btn-main-add:active,
.btn-main-add:visited,
.btn-main-add.active:focus,
.btn-main-add:active:focus,
.btn-main-add{
    background-color: transparent;
    border-color: transparent;
    outline: none;
    color: #49b149;
    margin-top: 8px;
    margin-left: 4px;
}

.btn-status{
    width: 80px;
}

.btn-toxicbuild-default {
  color: #fff;
  background-color: #868B90;
  border-color: #7A7E83;
}


.btn-toxicbuild-default:hover {
  color: #fff;
  background-color: #575C61;
  border-color: #7A7E83;
}

#btn-delete-repo{
    display: none;
}

#btn-delete-slave{
    display: none;
}

/* waterfall */

.step{
    border-bottom: 1px solid #4c4a49;
}

.step a{
    color: #05335A;
}

.toxic-ul{
    list-style: none;
}

.builder-stick{
    position: fixed;
    top: 0;
    z-index:999;
}

.buildsets-column{
    max-width: 160px;
}

.builder-column{
    vertical-align: top;
}

.builder-container{
    border-radius: 3px;
    min-height: 50px;
}

.builder{
    box-shadow: 0px 1px 5px 0px #000;
}

.builder,
.step{
    border-radius: 3px;
    list-style: none;
    padding: 10px
}

.builder-fail,
.step-fail{
    background-color: #d9534f;

}

.builder-success,
.step-success{
    background-color: #5cb85c;
}

.btn-pending,
.builder-pending,
.step-pending{
    background-color: #B7B206;
}

.builder-running,
.step-running{
    background-color: #31b0d5;
}

.builder-warning,
.step-warning{
    background-color: #D25728;
}

.btn-exception,
.builder-exception,
.step-exception{
    background-color: #75094A;
}

.btn-step-details:focus,
.btn-step-details{
    color: #B5A8A8;
    background-color: #1F1D1D;
    border-color: #191818;
    padding: 1px 6px;
    float: right;
    margin-left: 15px;
}

.btn-step-details:hover{
    color: #fff;
    background-color: #1F1D1D;
    border-color: #191818;
    padding: 1px 6px;
    float: right;
    margin-left: 15px;
}

.modal-dialog-step{
    width:90%;
}

.waterfall-table tr:nth-child(even) {
    background-color: #4c4a49;
}

.buildset{
    list-style: none;
}
