import json
import os

# From which addesses we should accept connections.
# If 0.0.0.0, accepts connections from everyone.
ADDR = '0.0.0.0'
# Port for the slave listen.
PORT = int(os.environ.get('SLAVE_PORT', 7777))
USE_SSL = os.environ.get('SLAVE_USE_SSL', '0') == '1'
CERTFILE = os.environ.get('SLAVE_CERTFILE')
KEYFILE = os.environ.get('SLAVE_KEYFILE')

# Docker stuff
USE_DOCKER = os.environ.get('SLAVE_USE_DOCKER', '0') == '1'
DOCKER_IMAGES = json.loads(os.environ.get('SLAVE_DOCKER_IMAGES', '{}'))
CONTAINER_USER = os.environ.get('SLAVE_CONTAINER_USER')

# Auth settings.
ACCESS_TOKEN = '{{ACCESS_TOKEN}}'
