# From which addesses we should accept connections.
# If 0.0.0.0, accepts connections from everyone.
ADDR = '127.0.0.1'
# Port for the slave listen.
PORT = 7777
# Auth settings.
BCRYPT_SALT = '{{BCRYPT_SALT}}'
ACCESS_TOKEN = '{{ACCESS_TOKEN}}'
