DATABASE = {'host': 'localhost',
            'port': 27017,
            'db': 'toxicmaster'}

RABBITMQ_CONNECTION = {'host': 'localhost', 'port': 5672}


SMTP_MAIL_FROM = 'test@toxictest.com'
SMTP_HOST = 'localhost'
SMTP_PORT = 587
SMTP_USERNAME = 'test@toxictest.com'
SMTP_PASSWORD = 'some-strong-password'
